name: "fpv-offline"

services:
  # menu at http://localhost:81/
  homepage:
    image: ghcr.io/gethomepage/homepage:v1.8.0
    container_name: homepage
    environment:
      HTTP_PROXY: ${HTTP_PROXY}
      HTTPS_PROXY: ${HTTPS_PROXY}
      ALL_PROXY: ${ALL_PROXY}
      HOMEPAGE_ALLOWED_HOSTS: localhost:81
      HOMEPAGE_VAR_BETAFLIGHT_VERSION: ${BETAFLIGHT_VERSION}
      HOMEPAGE_VAR_BETAFLIGHT_FW_TARGET: ${BETAFLIGHT_FW_TARGET}
      HOMEPAGE_VAR_BLUEJAY_TARGET: ${BLUEJAY_TARGET}
      HOMEPAGE_VAR_BLUEJAY_PWM: ${BLUEJAY_PWM}
    ports:
      - 81:3000
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - homepage_data:/app/config:rw
    restart: unless-stopped
    depends_on:
      copier:
        condition: service_completed_successfully

  # updates scripts on containers volumes for Betaflight firmware, Bluejay firmware and the Homepage
  copier:
    image: alpine:latest
    entrypoint: /bin/sh
    command: -c " cp -r /local/homepage/config/* /app/config/  && cp /local/fw.sh /betaflight/fw.sh && cp /local/bluejay.sh /bluejay/bluejay.sh"
    container_name: copier
    restart: no
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - homepage_data:/app/config:rw
      - .:/local:ro
      - betaflight-fw_data:/betaflight:rw
      - bluejay_data:/bluejay:rw
  # builds fw and quits
  betaflight-fw:
    build:
      context: .
      dockerfile: Dockerfile-betaflight-fw
      args:
        COUNTRY: ${COUNTRY}
    environment:
      HTTP_PROXY: ${HTTP_PROXY}
      HTTPS_PROXY: ${HTTPS_PROXY}
      ALL_PROXY: ${ALL_PROXY}
      BETAFLIGHT_VERSION: ${BETAFLIGHT_VERSION}
      BETAFLIGHT_BRANCH: ${BETAFLIGHT_BRANCH}
      BETAFLIGHT_FW_TARGET: ${BETAFLIGHT_FW_TARGET}
      BETAFLIGHT_FW_EXTRA_FLAGS: ${BETAFLIGHT_FW_EXTRA_FLAGS}
      ARM_SDK_DIR: "/usr/"
    container_name: betaflight-fw
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - betaflight-fw_data:/opt:rw
      - ./fw:/fw:rw
    restart: no
    command: bash -c "chmod u+x fw.sh && ./fw.sh"
    depends_on:
      copier:
        condition: service_completed_successfully

  # builds fw and quits
  bluejay:
    build:
      context: .
      dockerfile: Dockerfile-bluejay
    environment:
      HTTP_PROXY: ${HTTP_PROXY}
      HTTPS_PROXY: ${HTTPS_PROXY}
      ALL_PROXY: ${ALL_PROXY}
      BLUEJAY_TARGET: ${BLUEJAY_TARGET}
      BLUEJAY_PWM: ${BLUEJAY_PWM}
      BLUEJAY_VERSION: ${BLUEJAY_VERSION}
    container_name: bluejay
    entrypoint: /bin/sh
    command: -c "cd /opt && chmod u+x ./bluejay.sh && ./bluejay.sh"
    restart: no
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - bluejay_data:/opt:rw
      - ./fw:/fw:rw
    depends_on:
      copier:
        condition: service_completed_successfully

  configurator-betaflight:
    build:
      context: .
      dockerfile: Dockerfile-configurator-bf
      args:
        COUNTRY: ${COUNTRY}
        HTTP_PROXY: ${HTTP_PROXY}
        HTTPS_PROXY: ${HTTPS_PROXY}
        ALL_PROXY: ${ALL_PROXY}
        BETAFLIGHT_VERSION: ${BETAFLIGHT_VERSION}
        BETAFLIGHT_BRANCH: ${BETAFLIGHT_BRANCH}
    environment:
      HTTP_PROXY: ${HTTP_PROXY}
      HTTPS_PROXY: ${HTTPS_PROXY}
      ALL_PROXY: ${ALL_PROXY}
    container_name: configurator-betaflight
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - configurator-betaflight_data:/opt:rw
    restart: unless-stopped
    ports:
      - 82:8080
    command: "yarn preview --host 0.0.0.0"

  bb:
    build:
      context: .
      dockerfile: Dockerfile-bb
      args:
        COUNTRY: ${COUNTRY}
        HTTP_PROXY: ${HTTP_PROXY}
        HTTPS_PROXY: ${HTTPS_PROXY}
        ALL_PROXY: ${ALL_PROXY}
        BETAFLIGHT_VERSION: ${BETAFLIGHT_VERSION}
        BETAFLIGHT_BRANCH: ${BETAFLIGHT_BRANCH}
    environment:
      HTTP_PROXY: ${HTTP_PROXY}
      HTTPS_PROXY: ${HTTPS_PROXY}
      ALL_PROXY: ${ALL_PROXY}
    container_name: bb
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - bb_data:/opt:rw
    restart: unless-stopped
    ports:
      - 85:4173
    command: "yarn preview --host 0.0.0.0"

  configurator-esc:
    build:
      context: .
      dockerfile: Dockerfile-configurator-esc
      args:
        COUNTRY: ${COUNTRY}
        HTTP_PROXY: ${HTTP_PROXY}
        HTTPS_PROXY: ${HTTPS_PROXY}
        ALL_PROXY: ${ALL_PROXY}
        NODE_VERSION: 16.16.0
    environment:
      HTTP_PROXY: ${HTTP_PROXY}
      HTTPS_PROXY: ${HTTPS_PROXY}
      ALL_PROXY: ${ALL_PROXY}
    container_name: configurator-esc
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - configurator-esc_data:/opt:rw
    restart: unless-stopped
    ports:
      - 83:3000
    command: "yarn start --host 0.0.0.0"

  # configurator-elrs:
  #   build:
  #     context: .
  #     dockerfile: Dockerfile-configurator-elrs
  #     args:
  #       COUNTRY: ${COUNTRY}
  #       HTTP_PROXY: ${HTTP_PROXY}
  #       HTTPS_PROXY: ${HTTPS_PROXY}
  #       ALL_PROXY: ${ALL_PROXY}
  #       NODE_VERSION: 22.9.0
  #   environment:
  #     HTTP_PROXY: ${HTTP_PROXY}
  #     HTTPS_PROXY: ${HTTPS_PROXY}
  #     ALL_PROXY: ${ALL_PROXY}
  #   container_name: configurator-elrs
  #   volumes:
  #     - /etc/localtime:/etc/localtime:ro
  #     - configurator-elrs_data:/opt:rw
  #     - /tmp/.X11-unix:/tmp/.X11-unix
  #     - /dev:/dev
  #     - /run/udev:/run/udev:ro
  #   restart: unless-stopped
  #   command: "yarn start --host 0.0.0.0"

volumes:
  homepage_data:
    driver: local
  betaflight-fw_data:
    driver: local
  configurator-betaflight_data:
    driver: local
  configurator-esc_data:
    driver: local
  configurator-elrs_data:
    driver: local
  bluejay_data:
    driver: local
  bb_data:
    driver: local
