COUNTRY=""
BETAFLIGHT_BRANCH="2025.12-maintenance"
BETAFLIGHT_VERSION=2025.12.4
BETAFLIGHT_CONF_VERSION=2025.12.2
BETAFLIGHT_FW_TARGET="JHEF435"
BETAFLIGHT_FW_EXTRA_FLAGS=" -DCLOUD_BUILD -DUSE_ACRO_TRAINER -DUSE_CAMERA_CONTROL -DUSE_DSHOT -DUSE_GPS -DUSE_GPS_PLUS_CODES -DUSE_LED_STRIP -DUSE_OSD -DUSE_OSD_SD -DUSE_PINIO -DUSE_SERIALRX -DUSE_SERIALRX_CRSF -DUSE_TELEMETRY -DUSE_TELEMETRY_CRSF -DUSE_VTX"
BLUEJAY_TARGET="G-H-30"
BLUEJAY_PWM="48"
BLUEJAY_VERSION="v0.21.0"
HTTP_PROXY=
HTTPS_PROXY=
ALL_PROXY=
HOST_IP="127.0.0.1"
ESC_CONF_VER="v0.32.1"
BB_VER="2025.12.1"
ELRS_FLASHER_VER="1.2.0"
BUCKSAW_REF=""


# elrs configurator and guacamole
VNC_PASSWORD=use-a-long-random-password
GUAC_DB_PASSWORD=use-another-long-random-password
GUACAMOLE_PORT=91
ELRS_CFG_SRC_REPOSITORY=https://github.com/ExpressLRS/ExpressLRS-Configurator.git
ELRS_CFG_REF=master
ELRS_FIRMWARE_SOURCE_DIR=./elrs-firmware-src
# Match the owner of FIRMWARE_SOURCE_DIR on the host.
APP_UID=1000
APP_GID=1000
SCREEN_WIDTH=1600
SCREEN_HEIGHT=900
SCREEN_DEPTH=24